#tagCheckboxes {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Creates 5 columns */
    gap: 0px; /* Adjusts space between grid items */
}

.fade-visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s linear; /* Adjust time as necessary */
}

.fade-hidden {
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s 0.5s, opacity 0.5s linear; /* Adjust time as necessary */
}

.hidden {
    display: none !important;
}

.full-width-textarea {
        width: 100%;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;   
        resize: vertical;      /* Opera/IE 8+ */
    }
