{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Author Management {% endblock %}</h1>
    <form class="form-inline" method="post">
      <div class="form-group mx-sm-3 mb-2">
        <label for="author_Title" class="sr-only">Title</label>
        <input type="text" class="form-control" name="author_title" placeholder="Title"  value="{{ request.form['author_title'] }}">
      </div>
        <div class="form-group mb-2">
          <label for="author_forename" class="sr-only">First Name</label>
          <input type="text" name="author_forename" id="author_forename" class="form-control" placeholder="Firstname" value="{{ request.form['author_forename'] }}">
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <label for="author_middlename" class="sr-only" >Middlename(s)</label>
          <input type="text" class="form-control" name="author_middlename" placeholder="Middlename" value="{{ request.form['author_middlename'] }}">
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <label for="author_surname" class="sr-only" >Surname</label>
          <input type="text" class="form-control" name="author_surname" placeholder="Surname" value="{{ request.form['author_surname'] }}">
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <label for="author_postnominal" class="sr-only">Post nominal</label>
            <input type="text" class="form-control" name="author_postnominal" placeholder="Postnominal"  value="{{ request.form['author_title'] }}">
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <label for="author_birthyear" class="sr-only">Birth Year</label>
            <input type="text" class="form-control" name="author_birthyear" placeholder="Birth year"  value="{{ request.form['author_birthyear'] }}">
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <label for="author_deathyear" class="sr-only">Death Year</label>
            <input type="text" class="form-control" name="author_deathyear" placeholder="Death year"  value="{{ request.form['author_deathyear'] }}">
          </div>
        <div class="form-group">
        <button type="submit" class="btn btn-primary mb-2">Add Author</button>
    </div>
      </form>

    {% for author in authors %}
    <div class="card">
        <div class="card-body">
            <span class="badge badge-primary">#{{ author['id'] }}</span>
            <hr>
            {{ author['title'] |safe }} {{ author['forename'] |safe }} {{ author['middlename'] |safe }} {{ author['surname'] |safe }} {{ author['postnominal'] |safe }} b.{{ author['birthyear'] |safe }} d. {{ author['deathyear'] |safe }}
        </div>
    </div>
    <hr>
    {% endfor %}
{% endblock %}