<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
	</script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>{% block title %} {% endblock %}</title>

  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index')}}">SnippetsDB (alpha-0.5) </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('create') }}">New Snippet</a>
           </li>
           <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('source') }}">Source Management</a>
       </li>
       <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('author') }}">Authors</a>
   </li>
   <li class="nav-item active">
    <a class="nav-link" href="{{ url_for('tag') }}">Tag Management</a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="{{ url_for('filtersnippetslist') }}">Filter Snippets</a>
</li>
   <li class="nav-item active">
    <a class="nav-link" href="{{ url_for('about') }}">About</a>
</li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        {% block content %} {% endblock %}
    </div>
  </body>
</html>