{% extends 'base.html' %}
{% block content %}
    <h1>{% block title %} Source Management {% endblock %}</h1>     
    <form method="post">
        <div class="form-group">
          <input type="hidden" name="source_id" value="{{previous_id}}"> 
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Source name" name="title" value="{{title}}">
            <label for="year">Year</label>
            <input type="number" class="form-control" id="year" placeholder="2023" name="year" value="{{year}}">
        </div>
        <div class="form-group">
          <label for="url">URL</label>
          <input type="text" class="form-control" id="url" placeholder="https://" name="url" value="{{url}}">
        </div>
        <div class="form-group">
          <label for="inputState">Source Type</label>
          <select id="inputState" class="form-control" name="source_type">
            <option selected>{{type}}</option>
            {% for sourceType in sourceTypes -%}
            <option>
              {{ sourceType['entry'] }}
            </option>
            {% endfor -%}
          </select>
        </div>
        <h3>Author</h3>
        {% include 'sec_autocomplete/authors.html' %}

        <div class="form-group">
          <button type="submit" class="btn btn-primary mb-2" value="Add" name="action" >Save Source</button>
        </div>

    </form>
    <form method="post">
      <button type="submit" class="btn btn-secondary" value="Delete" name="action">Delete Marked</button>
        {% include 'sec_lists/sources.html' %}
      </form>
{% endblock %}