
<div id="content-area"></div> 


<script>
$(document).ready(function() {
    var contents = {{ items | safe }};
    //var contents='[{"id": 249, "content": "<p>Hopper traveled a lot</p>", "entry_epoch": 1708283153, "tags": "art; tag 1", "sources": "The Art of Travel", "url": null, "username": "susan", "explore_source_url": "/susan/source=258", "explore_tag_urls": "<a href=\\"/susan/tag=art\\">art</a>; <a href=\\"/susan/tag=tag%201\\">tag 1</a>"}]'
    function generateContent() {
      $.each(contents, function(index, item) {
        var $card = $('<div>').addClass('card');

        var $tagsSpan = $('<span>')
        .addClass('editable-text-tags')
        .attr('data-type', 'tags ')
        .attr('data-id', item.id)
        .html(item.explore_tag_urls);

        var $contentArea =$('<p>').html(item.content)

        var $contentDiv = $('<pre>');
        var $contentElement = $('<div>')
        .addClass('editable-text-content')
        .attr('data-type', 'note-content')
        .attr('data-id', item.id)
        .html(item.content);

        var $cardBody = $('<div>').addClass('card-body');
        $cardBody.append($('<span>').addClass('badge badge-primary').text('#' + item.id));
        $cardBody.append($('<span>').addClass('badge badge-default').text(item.entry_epoch));
        $cardBody.append($('<span>').addClass('badge badge-default').html('<a href="' + item.explore_source_url + '">' + item.sources + '</a>'));
        $cardBody.append($('<span>').addClass('badge badge-default').html('<a href="' + item.url + '" target="_blank">weblink</a>'));
        var $checkbox = $('<input>').attr({type: 'checkbox', id: item.id, name: 'delete-checks', value: item.id, tabindex: 4});
        $cardBody.append($checkbox);
        $cardBody.append($('<label>').attr('for', item.id).text('Mark for delete'));
        $cardBody.append($('<br>'));

        $cardBody.append($tagsSpan);
        createEditTagButton($tagsSpan, $cardBody, item.id);


        $cardBody.append($('<hr>'));
        $cardBody.append($contentElement); 
        $cardBody.append($contentDiv);
        createEditContentButton($contentElement, $contentDiv, item.id);
                
        $card.append($cardBody);
        
        $('#content-area').append($card);

        //createEditContentButton($contentElement, $contentDiv, content.id);
        $('#content-area').append($('<br>'));
      });
    }
  
    function createEditContentButton($elementToEdit, $parentDiv, contentId) {
        var $editButton = $('<button>').addClass('edit-icon').text('Edit Snippet');
        var $saveButton = $('<button>').addClass('save-icon').text('💾').hide();
        var $inputElement;
    
        $editButton.click(function() {
          // Determine the appropriate input type and create it
          $inputElement = $elementToEdit.attr('data-type') === 'note-content' ? $('<textarea>') : $('<input type="text">');
          $inputElement.val($elementToEdit.text());
          $elementToEdit.replaceWith($inputElement);
          $inputElement.focus();
          $editButton.hide();
          $saveButton.show();
        });
    
        $saveButton.click(function() {
          // Save changes
          var updatedText = $inputElement.val();
          $elementToEdit.text(updatedText);
          $inputElement.replaceWith($elementToEdit);
          $saveButton.hide();
          $editButton.show();
    
          // Send the updated content back to the serve
          fetch('/update-content', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
              id: contentId,
              content: updatedText,
            }),
          })
          .then(response => response.json())
          .then(data => console.log('Success:', data))
          .catch(error => console.error('Error:', error));
        });
    
        $parentDiv.append($editButton, $saveButton);
      }
    
    function createEditTagButton($elementToEdit, $parentDiv, contentId, username) {
    var $editButton = $('<button>').addClass('edit-icon').text('✏️');
    var $saveButton = $('<button>').addClass('save-icon').text('💾').hide();
    var $inputElement;

    $editButton.click(function() {
        // Assume $elementToEdit contains the HTML with tags as links
        // Convert HTML links back to a simple semicolon-separated list of tags for editing
        var tagText = $elementToEdit.find('a').map(function() {
            return $(this).text(); // Extract text from each link
        }).get().join('; '); // Join tags with semicolon and space as delimiter

        $inputElement = $('<input type="text">').val(tagText);
        $elementToEdit.empty().append($inputElement);
        $inputElement.focus();
        $editButton.hide();
        $saveButton.show();
    });

    $saveButton.click(function() {
      var updatedTags = $inputElement.val().split(';').map(function(tag) {
    return tag.trim();
});
        $elementToEdit.empty(); // Clear the container

        $.each(updatedTags, function(index, tag) {

            if (tag) {
                // Encode tag for URL usage and recreate link HTML
                var encodedTag = encodeURIComponent(tag);
                var linkHtml = $('<a>').attr('href', `/${username}/tag=${encodedTag}`).text(tag);
                $elementToEdit.append(linkHtml);

                if (index < updatedTags.length - 1) {
                    $elementToEdit.append('; '); // Add delimiter between tags
                }
            }
        });
        // Switch back to showing the edit button
        $inputElement.remove();
        $saveButton.hide();
        $editButton.show();

      fetch('/update-tags', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({
          id: contentId,
          tags: updatedTags,
        }),
      })
      .then(response => response.json())
      .then(data => console.log('Success:', data))
      .catch(error => console.error('Error:', error));
    });


    // Append edit and save buttons next to the tag container
    $parentDiv.append($editButton, $saveButton);
}

    
      generateContent();
    });
    </script>