{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to Snippets ! {% endblock %}</h1>
    <p> We're your go-to platform for capturing and organizing valuable knowledge. Whether you're a seasoned knowledge seeker or a dedicated note wisher, we've got you covered.
    Say goodbye to passive consumption – with Snippets, you can actively engage with information by capturing, organizing, and effortlessly sharing it, all while maintaining links to the original source. We prioritize context and credibility, ensuring you not only remember the information but also understand its origins and trustworthiness.
    Join us in shaping the future of note-taking. </p>
    <p>Welcome to Snippets, where every snippet's a step towards understanding.
    </p>

{% endblock %}