{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to Snippets {% endblock %}</h1>
 <p>Only an AI can know everything, people now have snippets to help us pick and choose what to know and who to trust. Snippets is for everything you find and consider  worth noting, ready for sharing, always linked back to the source.</p>
    <p>
Snippets is for knowledge seekers and Note wishers. Knowledge seekers, who know having a memory of information is not the same as knowing the it and where it came from. Note wishers who wish that at note taking system would reflect how we absorb information and need to know where it came from to trust it. O
    </p>

{% endblock %}